---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Welcome to the Movie and TV Database</h1>
  <p>The #1 destination for all movie and TV show information ! </p>
  <div id="searchResults"></div>
</Layout>
