<nav>
  <ul>
    <li><a href="/movie-database-ucd-project">Home</a></li>
    <li><a href="/movie-database-ucd-project/movie">Movies</a></li>
    <li><a href="/movie-database-ucd-project/tvshow">TV Shows</a></li>
  </ul>

  <div class="search-container">
    <input type="text" id="searchQuery" placeholder="Search for movies or TV shows..." class="search-bar" />
    <button id="searchBtn">Search</button>
  </div>
</nav>
