---
import '../assets/styles.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie DataBase</title>
</head>
<body>
  <main id="main-content" class="container">
	<slot/>
  </main>

  <footer>
	<p>&copy; {new Date().getFullYear()} Dearbhla Cunnion. All rights reserved.</p>
  </footer>
</body>
</html>
